//#######################################
//## ROUTE TYPE #########################
//#######################################

$img-link-type: REL;
// OR
//$img-link-type: ABS;

//#######################################
//## IMG ROUTES #########################
//#######################################

$routeHTML: '../ui/';
$routePHP: '/static/ui/';

//#######################################
//## FONT ROUTES ########################
//#######################################

$routeHTMLfont: '../fonts/';
$routePHPfont: '/static/fonts/';