@font-face {
  font-family: "e4_2017regular";
  src: url("../fonts/e4_2017-webfont.eot?5ov7w4");
  src: url("../fonts/e4_2017-webfont.eot?5ov7w4#iefix") format("embedded-opentype"), url("../fonts/e4_2017-webfont.woff2?5ov7w4") format("woff2"), url("../fonts/e4_2017-webfont.woff?5ov7w4") format("woff"), url("../fonts/e4_2017-webfont.svg?5ov7w4#wf") format("svg"), url("../fonts/e4_2017-webfont.ttf?5ov7w4") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

ul, ol {
  list-style-type: none; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }
  .clearfix:after {
    height: 0;
    clear: both;
    font-size: 0;
    content: "\A";
    display: block;
    visibility: hidden; }

::selection {
  background-color: #000000;
  color: #ffffff; }

::-moz-selection {
  background-color: #000000;
  color: #ffffff; }

html, body {
  width: 100%;
  height: 100%;
  display: block; }

html {
  font-weight: normal;
  font-size: 17px; }

body {
  color: #ffffff;
  font-weight: normal;
  background-color: #273044;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  body.is-locked {
    overflow: hidden; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  display: block;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal; }

strong {
  font-weight: normal; }

em {
  font-style: italic; }

.inline-block {
  display: inline-block; }

.vertical-middle {
  vertical-align: middle; }

.hidden {
  visibility: hidden; }

.is-none {
  display: none !important; }

h1 {
  left: 0;
  right: 0;
  top: 20px;
  display: none;
  color: #ffffff;
  font-size: 24px;
  position: fixed;
  z-index: 9999999;
  text-align: center;
  pointer-events: none;
  font-family: "e4_2017regular"; }

.msg {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: table;
  font-size: 11px;
  text-align: center;
  position: relative;
  letter-spacing: 0.45em; }
  .msg img {
    width: 420px;
    margin-bottom: 1.4rem;
    display: inline-block; }
  .msg-inner {
    display: table-cell;
    vertical-align: middle; }
  .msg span {
    display: block;
    font-size: 18px;
    margin-bottom: 0.2rem;
    text-transform: uppercase; }
  .msg small {
    opacity: 0.5;
    font-size: 90%; }

.score {
  left: 0;
  right: 0;
  bottom: 20px;
  display: none;
  color: #000000;
  position: fixed;
  z-index: 9999999;
  text-align: center;
  pointer-events: none;
  font-family: "e4_2017regular"; }
  .score i {
    color: #ffffff;
    font-size: 32px;
    padding: 6px 10px;
    font-style: normal;
    display: inline-block; }

.init {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: block;
  cursor: pointer;
  position: absolute;
  background-color: transparent; }
  .init i {
    display: block;
    position: absolute; }
    .init i.left {
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%; }
    .init i.right {
      top: 0;
      right: 0;
      bottom: 0;
      width: 50%; }
    .init i.top {
      top: 0;
      left: 0;
      right: 0;
      height: 50%; }
    .init i.bottom {
      left: 0;
      right: 0;
      bottom: 0;
      height: 50%; }

/*# sourceMappingURL=style.css.map */
